.header { /* stylelint-disable */
  background-color: #10222B;
  color: #F6FFE0;

  height: 10%;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
}

.mainNav h1 {
  padding: 0;
  margin: 0;
}

.mainNav > .btn {
  margin-right: 5px;
}

.btn {
  background: #95AB63;
  color: #F6FFE0;
  border-bottom: 3px solid #535f37;
  border-radius: 2px;
  padding: 5px 10px;
}

.btn img {
  width: 20px;
  height: 20px;
}
